:root {
    --background-0: #000000;
    --background-1: #151318;
    --background-2: #1C1B1F;
    --background-3: #262626;
    --background-4: #878787;
    --background-5: #FCFCFC;
    --background-6: #ED6F1B;
    --background-7: #D44219;
    --background-9: #3D9555;
}